<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Show</title>
</head>
<body>
    <h1>Edit Show {{ show.id }}</h1>
    <a href="/shows">Go Back</a>
    {% for err in messages %}
    <p style="color:red;">{{ err }}</p>
    {% endfor %}
    <form action="/shows/{{ show.id }}/edited" method="POST">
        {% csrf_token %}
        <h3>Title</h3>
        <input type="text" name="title" value= {{ show.title }}>
        <h3>Network</h3>
        <input type="text" name="network" value= {{ show.network }}>
        <h3>Release Date</h3>
        <input type="date" name="release_date" value= {{ show.release_date }}>
        <h3>Description</h3>
        <input type="text" name="desc" value= {{ show.desc }}>
        <button>Update</button>
    </form>
    <a href="/shows/{{ show.id }}">Go back to Show</a>
    
</body>
</html>