<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <style>
        #container{
            width: 970px;
            background-color: cornflowerblue;
            text-align: center;
            margin: auto;
        }
        h2{
            background-color: cornsilk;
        }
        div{
            font-size: 30px;
            padding: 20px;
            font-weight: bolder;
        }

    </style>
    <div id="container">
        <h2>The current date and time is:</h2>
        <div>{{ time }}</div>
    </div>
    
</body>
</html>