<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
    <div class="header-div">
        <p><a href="/books">Home</a></p>
        <p><a href="/books/add">Add Book and Review</a></p>
        <p><a href="/users/logout">Log Out</a></p>
    </div>
    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
    <h3>Email: {{ user.email }}</h3>>
    <br>
    <h3>Posted Reviews on the following books:</h3>
    <p><a href="/books/{{ book.id }}">{{ user.reviewed_books.title }}</a></p>
</body>
</html>