<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
</head>
<body>
    <div id="container">
        <h1>Play the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
        <h2>{{ request.session.clue }}</h2>
        <form action="/play" method=POST>
            {% csrf_token %}
            <input type="text" name="number">
            <button>Submit</button>
        </form>
    </div>
</body>
</html>